
body {
    background: #17171F;
}

img { 
    position: relative; 
    width:  243.21px; 
    height: 305px;
    left:   13px;
    top: -220px;
    margin-left: 30px;
    } 

.raw-title {
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-family: "Josefin Sans-SemiBold", Helvetica;
    font-weight: 600px;
    letter-spacing: 5.6px;
    width: 600px;
    top: 120px;
    left: 90px;
    color:#FFFFFF;
    }

.line-1 {
    position: relative;
    border-style: solid;
    width: 340px;
    height: 0px;
    left: 220px;
    top: -240px;
    background-color: white;
    color: #5C718B;
}

.pa {
    position: relative;
    text-align: center;
    width: 750px;
    top: -130px;
    height: 450px;
    left: 50px;
    font-size: 21px;
    font-family: "Jost-Light", Helvetica;
    
}

.whower-cover {
    width:  390px; 
    height: 500px;
    left:   1000px;
    top:    190px;
    background-repeat: no-repeat;
    background-size: 100%;
} 

@media only screen and (max-width:1390px) {

    .header {
        position: absolute;
        width: 380px;
    }

    .pa {
        font-size: 15px;
        width: 280px;
        height: 16px;
        left: 55px;
        top: 300px;
    }

    .raw-title {
        font-size: 30px;
        left: -95px;
    }

    .line-1 {
        left: 80px;
        width: 245px;
        top: -120px;
    }

    .whower-cover {
        left: 18px;
        width: 300px;
        height: 300px;
        top: 250px;
    }

    .about-us {
        width: 380px;
        height: 1200px;
        margin-right: 200px;
        align-items: center;
    }

    .footer {
        width: 390px;
        height: 320px;
        left: 0px;
        background: black;
    }

    .footer-container {
        width: 300px;
        height: 100px;
        top: 0px;
    }

    .footer .location {
        position: relative;
        width: 400px;
        height: 60px;
        top: -90px;
        left: -45px;
    }
    
    .footer h4 {
        font-size: 10px;
        width: 150px;
    }
    
    .footer p {
        font-size: 10px;
        width: 100px;
        top: 0px;
    }

    .right .social {
        width: 200px;
    }

    div.phone {
        position: absolute;
        top: 1265px;
        left: 16px;
    }

    .right {
        position: relative;
        width: 180px;
        top: -60px;
        left: 30px;
    }

    div.email h4 {
        position: absolute;
        top: 1310px;
        left: 16px;
        width: 200px;
    }

    .right p {
        width: 150px;
        font-size: 10px;
    }

    .right h4 {
        width: 100px;
        font-size: 10px;
    }

}

