.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  transform: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  transform: top;
}
